.album-title{
    margin-top: 6rem;
}

.album img{
    width: 450px;
}

.data{
    margin-left: 175px;
}

.other-title{
    margin-bottom: 40px;
}

.album1 img, .album2 img, .album3 img {
   width: 250px;

}

.album1 .btn, .album2 .btn, .album3 .btn {
    margin-top: 50px;
}

.square {
   width: fit-content;
   height: 220px;
   border-radius: 15px;
   background-color: var(--white);
   padding-left:0.75rem;
   padding-right:0.75rem;
   display: flex;
   margin-bottom: 30px;
}

.square img {
   align-self: center;
}

iframe {
   border-radius:12px
}