img {
    width: 35%;
    border-radius: 30px;
}

video {
    width: 55%;
    border-radius: 30px;
}

.img-collage {
    width: 90%;
}

.img-collage:hover{
    animation: shake 0.5s;
    animation-iteration-count: infinite;
 }

.tape {
    width: 35rem;
    height: 35rem;
    object-fit: cover;
 }

.image-big {
    width: 35rem;
}

