/* Extra small devices (phones, <= 600px) */
@media only screen and (max-width: 600px) {
  
.container-sobre {
    margin: 0;
    padding: 0;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
      "who"
      "brandkit"
      "time"
      "envelope"
      "questions";
}  
    
.tape {
    display: none;
}
    
.who {
    font-size: 1.5rem;
    margin: 0;
    padding: 2rem;
    width: 100vw;
}
    
.image-big {
    padding: 2rem;
    width: 100vw;
    border-radius: 50px;
}
    
.timeline {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    align-content: left;
    padding: 1rem;
}

.title  {
    font-size: 1rem;
}
 
.date {
    font-size: 1rem;
}
     
.text  {
    font-size: 1rem;
}
    
.envelope {
    display: none;
}

.questions {
    margin-bottom: 5rem;
}
}

/* Small devices (portrait tablets and large phones, >= 600px)  */ 
@media only screen and (min-width: 600px) and (max-width: 768px){
      
.container-sobre {
    margin: 0;
    padding: 0rem;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
      "who"
      "brandkit"
      "time"
      "questions"
      "envelope";
}  

.who{
    font-size: 1.5rem;
    margin: 0;
    padding: 3rem;
    width: 90vw;
}
    
.timeline {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    align-content: left;
    flex-direction: column;
    padding: 1rem;
}

.tape {
    display: none;
}

.envelope {
    display: none;
}

.brandkit {
    padding-left: 3rem;
    padding-right: 3rem;
    margin-bottom: 2rem;
    width: 90vw;
    border-radius: 15%;
}

.title  {
    font-size: 1.70rem;
}

.date {
    font-size: 1.5rem;
}

.text  {
    font-size: 1.7rem;
}   
    
.questions {
    margin-bottom: 5rem;
}
  
}
    
/* Medium devices (portrait tablets, >= 768px)  */ 
@media only screen and (min-width: 768px) and (max-width: 992px) {
    
.container-sobre {
    margin: 0;
    padding: 0;
    justify-content: space-between;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
      "who tape"
      "time time"
      "brandkit brandkit"
      "questions questions";
}  

.who {
    padding: 2.5rem;
    width: 60vw;
}

.tape {
    width: 35vw;
    height: auto;
    margin-bottom: 1rem;
}

.timeline {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    align-content: left;
    flex-direction: column;
    padding: 2rem;
}

.image-big {
    padding-left: 3rem;
    padding-right: 3rem;
    margin-bottom: 2rem;
    width: 100vw;
    border-radius: 15%;
}

.title {
    font-size: 1.80rem;
}
 
.date {
    font-size: 1.5rem;
}

.text  {
    font-size: 1.5rem;
}

.envelope {
    display: none;
}

.accordion {
    font-size: 1.70rem;
}

.panel {
    font-size: 5rem;
}

.questions {
    margin-bottom: 5rem;
}
}

    
/* Large devices (laptops/desktops, >= 992px)  */ 
@media only screen and (min-width: 992px)  and (max-width: 1200px) {
  
.circle{
    margin-left: 5px;
}
}

/* Large devices (laptops/desktops, >= 992px)  */ 
@media only screen and (min-width: 992px)  and (max-width: 1200px) {

.image-big {
    width: 35vw;
    height: 35vw;
    margin-left: 2rem;
}

.tape {
    width: 30vw;
    height: 40vw;
    margin-left: 2rem;
}

.title  {
    font-size: 1.3rem;
}
 
.date {
    font-size: 1.3rem;
}

.text {
    font-size: 1.3rem;
}
}