/* Extra small devices (phones, <= 600px) */
@media only screen and (max-width: 600px) {
  
.container-index {
  margin: 0;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-template-areas: 
    "cola"
    "stopmotion"
    "f-title"
    "f1"
    "f2"
    "f3"
    "f4"
    "r_title"
    "r1"
    "r2" 
    "r3"
    "r4" 
    "app"
    "coleciona";
}  

.item-split1, .item-split2{
  margin-bottom: 25px;
}

.item-split4{
  margin-left: 2rem;
}

.item-split4 h1{
  font-size: 2.5rem;
}

.item-split4 a{
  margin-bottom: 20px;
}

.item1, .item2, .item3, .item4{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}

.circle {
  margin-left: 0;
}

.review1.feature, .review2.feature, .review3.feature, .review4.feature{
  width: auto;
  padding: 0.5rem;
}
}

/* Small devices (portrait tablets and large phones, >= 600px)  */ 
@media only screen and (min-width: 600px) and (max-width: 768px){
  
.container-index {
  margin: 0;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas: 
    "cola cola"
    "stopmotion stopmotion"
    "f-title f-title"
    "f1 f2"
    "f3 f4"
    "r_title r_title"
    "r1 r2"
    "r3 r4"
    "app app"
    "coleciona coleciona";
}  

.item-title{
  padding: 2rem;
}
.item-split1, .item-split2{
  margin-bottom: 25px;
}

.review1.feature, .review2.feature, .review3.feature, .review4.feature{
  width: 90%;
}
}

/* Medium devices (portrait tablets, >= 768px)  */ 
@media only screen and (min-width: 768px) and (max-width: 992px) {

.container-index {
  margin: 0;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas: 
    "cola cola"
    "stopmotion stopmotion"
    "f-title f-title"
    "f1 f2"
    "f3 f4"
    "r_title r_title"
    "r1 r2"
    "r3 r4"
    "app app"
    "coleciona coleciona";
}  

.item-split1, .item-split2{
  margin-bottom: 25px;
}
}

/* Large devices (laptops/desktops, >= 992px)  */ 
@media only screen and (min-width: 992px)  and (max-width: 1200px) {

.container-index{
  margin:0;
}
.circle{
  margin-left: 5px;
}

.item4 .circle{
  transform: translateY(-10px);
}

.item-split4 {
  margin-left: 0px;
}
}