/* Extra small and small devices (phones and portrait tablets <= 768px) */
@media only screen and (max-width: 768px) {
footer {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 1fr 1fr;
    justify-content: center;
}

footer .left {
    grid-row: 1;
    grid-column: 1;
}

footer .right {
    grid-row: 2;
    grid-column: 1;
}

footer .credit {
    grid-row: 3;
    grid-column: 1;
    font-size: smaller;
}

footer .left p{
   margin: 40px 0px 15px 0;
}

footer .form {
    width: 100%;
    margin: 40px 0 0 0 !important;
}

footer .form p{
    margin-bottom: 15px !important;
}

}