/* Extra small devices (phones, <= 600px) */
@media only screen and (max-width: 600px) {

.menu.active {
  display: none;
}

.mobile-button {
  display: block;
  position: fixed;
  right: 20px;
  top: 20px;
  background: none;
  border: none;
  font-size: 2rem;
  z-index: 100;
}

.menu {
    background: linear-gradient(
        15deg, 
        var(--green-gradient) 40%, 
        var(--white-gradient)
    );
    display: none;
    height: 100vh;
    z-index: 50;
}
    
.menu.show {
    display: flex;
}

.menu ul { 
    flex-direction: column;
    gap: 1.5rem;  
}

.form-popup {
    background: none;
    transform: translateY(-27rem);
  }
  
 .form-container {
    margin-left: 2.5rem;
    width: 70vw;
    height: auto;
    padding: 3rem;
    background: var(--pink);  
}

.form-container h1{
  margin-top: 30px;
  margin-bottom: 40px;
}

.form-container .email, .form-container .pass{
    display: block;
    margin-right: 0;
}

.form-container input[type=email], .form-container input[type=password] {
    width: 100%;
}

.form-container button{
    margin-right: 0;
}
}

/* Small devices (portrait tablets and large phones, >= 600px)  */ 
@media only screen and (min-width: 600px) and (max-width: 768px){

.menu ul li a img{
    margin-right: 0;
}

.menu ul {
    margin-right: 0px;
    gap: 2.125rem;
}

.form-container {
    width: 75vw;
    margin-left: 10vw;  
}

.form-container .email, .form-container .pass, .form-container button{
    margin-right: 0;
}
}

/* Medium devices (portrait tablets, >= 768px)  */ 
@media only screen and (min-width: 768px) and (max-width: 992px) {

.menu ul li a img{
    margin-right: 18vw;
}

.menu ul {
    margin-right: 10px;
    gap: 2.125rem;
}

.form-container {
    width: 75vw;
    margin-left: 10vw;  
}
.form-container .email, .form-container .pass, .form-container button{
    margin-right: 0;
}
}

/* Large devices (laptops/desktops, >= 992px)  */ 
@media only screen and (min-width: 992px)  and (max-width: 1200px){

.menu ul li a img{
    margin-right: 20vw;
}

.form-container {
    width: 75vw;
    margin-left: 10vw; 
}

.form-container .email, .form-container .pass, .form-container button{
    margin-right: 65px;
}
}
