.btn {
    background: linear-gradient(
        55deg, 
        var(--pink-gradient2) 25%, 
        var(--green-gradient)
    );
    height: 3.125rem;
    border-radius: 9999px;
    font-size: 0.8rem !important;
    font: Nunito, sans-serif;
    padding: 1rem;
    min-width: 170px;
    max-width:fit-content;
    text-align: center;
    display: inline-block;
    color: var(--black);
    text-transform: uppercase;
    font-weight: 600;
    cursor: pointer;
    transition: filter 0.3s;
    margin: auto;
}

.btn:hover {
    text-decoration: none;
    filter: brightness(0.8);
    background: var(--black);
    color: var(--white);
}

.btn.placed{
    background: var(--black);
    color: var(--white);
}

.btn2{
    background: var(--black);
    height: 3.25rem;
    border-radius: 50px;
    font-size: 0.9rem !important;
    font: Nunito, sans-serif;
    padding: 1rem;
    min-width: 170px;
    max-width:fit-content;
    text-align: center;
    display: inline-block;
    color: var(--white);
    cursor: pointer;
    transition: filter 0.3s;
    border: 0;
    margin: auto;
}
.btn2:hover {
    text-decoration: none;
    filter: brightness(0.8);
    text-decoration: none;
    background: linear-gradient(
        55deg, 
        var(--pink-gradient2) 25%, 
        var(--green-gradient)
    );
    color: var(--black);;
}

.text-center {
    text-align: center;
}

#app {
    padding-top: 10rem;
}